@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.input-create-post {
    border-bottom: 1px solid gray;
    outline: none;
}

/* .btn-create-post {
    background-color: ${props => };
} */
