@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
}

button {
    color: gold;
}
