@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
}

button {
    color: gold;
}

input[type="file"] {
    display: none;
 }
 
.custom-file-upload {
     border: 2px solid #ccc;
     display: inline-block;
     padding: 5px 20px;
     cursor: pointer;
 }
 
 .custom-file-upload::after {
     content: 'Upload an image';
 
 }
